<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/general.css">
    <link rel="stylesheet" href="./styles/bookdetails.css">

    <link rel="icon" type="image/x-icon" href="https://github.com/SantanaQ/Internet-Technologien/blob/main/images/icon.png?raw=true">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Bookshelf - Details</title>
  </head>
  <body>
  <!--Anfang Header-->
  <div class="headerr">
    <div class="leftt"></div>
    <div class="items">
      <div class="logo-box">
        <a href="./ProductGroups" method="get">
          <img class="logo" src="https://github.com/SantanaQ/Internet-Technologien/blob/main/images/logo.png?raw=true" alt="logo">
        </a>
      </div>
      <div class="buttons">
        <a href="login.html">
          <button class="login">Login</button>
        </a>
        <a href="registration.html">
          <button class="signup">Sign Up</button>
        </a>
        <a href="shoppingcart.html">
          <button class="warenkorb-button"><ion-icon name="cart-outline" class="warenkorb"></ion-icon></button>
        </a>
      </div>
    </div>
    <div class="rightt"></div>
  </div>
  <!--Ende Header-->


  <div class="main-content">
    <div class="image-box">
      <div class="image">
        <img class="book-image" th:src="@{'data:image/jpeg;base64,'+${b64Cover}}" alt="big-picture-book">
      </div>
    </div>
    <div class="text-box">
      <div class="title">
        <h1 th:text="${titel}"></h1>
      </div>
      <div class="autor">
        <h3 th:text="${autor}"></h3>
      </div>
      <div class="buchart">
      	<th:block th:each="kategorie : ${kategorien}">
	      	<div class="katbox">
	        	<p th:text="${kategorie}"></p>      		
	      	</div>
		</th:block>
      </div>
      <div class="preisinfo">
        <h3 class="preiss"><span th:text="${preis}"></span> €</h3>
        <p class="mwst">inkl. gesetzl. MwSt.</p>
      </div>
      <div class="warenkorb-box">
        <button class="warenkorb-hinzufuegen-button">In den Warenkorb</button>
      </div>
      <div class="isbn-box">
        <p class="isbn" >ISBN <span th:text="${isbn}"></span></p>
      </div>
    </div>
  </div>
  <div class="beschreibungs-box-unten" id="Buchbeschreibung">
    <h1 class="beschreibung-ueberschrift">Beschreibung</h1>
    <div class="beschreibungstext-box">
      <p th:text="${beschreibung}"></p>
    </div>
  </div>


  <!--Icon source-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>