<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/general.css">
    <link rel="stylesheet" href="./styles/index.css">
     
   
 	<link rel="icon" type="image/x-icon" href="https://github.com/SantanaQ/Internet-Technologien/blob/main/images/icon.png?raw=true">

    <title>Bookshelf - Home</title>
  </head>
  <body>
  <!--Anfang Header-->
  <div class="headerr">
    <div class="leftt"></div>
    <div class="items">
      <div class="logo-box">
        <a href="./ProductGroups" method="get">
          <img class="logo" src="https://github.com/SantanaQ/Internet-Technologien/blob/main/images/logo.png?raw=true" alt="logo">
        </a>
      </div>
      <div class="buttons">
        <a href="login.xhtml">
          <button class="login">Login</button>
        </a>
        <a href="registration.xhtml">
          <button class="signup">Sign Up</button>
        </a>
        <a href="shoppingcart.xhtml">
          <button class="warenkorb-button"><ion-icon name="cart-outline" class="warenkorb"></ion-icon></button>
        </a>
      </div>
    </div>
    <div class="rightt"></div>
  </div>
  <!--Ende Header-->

<div class="main-content">
		<div class="katalog">
			<div class="main-top">
				<div class="ueberschrift-katalog">
					<h1 class="durchsuchen" th:text="${kategorieheadline}"></h1>
				</div>
			</div>
			<div class="filteroptionen">
				<aside class="menu">
					<form action="./ProductGroups" method="post">
						<p class="menu-label">
							<input class="katlabel all" type="submit" name="kategorien" value="Kategorien" />
						</p>
						<ul class="menu-list">
							<li th:each="kategorie : ${kategorien}"><input class="katlabel" type="submit"  name="kategorien" th:value="${kategorie}" /></li>
						</ul>
					</form>
				</aside>
			</div>
		</div>

	<section class="auswahl-kontent">
		<th:block th:each="buch : ${buecher}">
			<div class="auswahl">
				<div class="bookbox" id="item">
						<div class="coverbox">
							<img
								th:src="@{'data:image/jpeg;base64,'+${buch.b64Cover}}"/>
						</div>
						<div class="description">
							<div class="title">
								<form action="./BookDetails" method="post">
									<input type="hidden" name="isbn" th:value="${buch.isbn}" />
									<input class="buchtitel" type="submit" name="titel" th:value="${buch.titel}" />
								</form>
								
							</div>
							<div class="author">
								<p th:text="${buch.autor}"></p>
							</div>
						</div>
					<div class="price-and-shopping">
						<div class="price">
							<p><span th:text="${buch.preis}"></span> €</p>
						</div>
						<div class="shoppingcart">
						<a class="warenkorb-link" style="color:white" th:href="@{/shoppingcart.xhtml(isbn=${buch.isbn})}">
							<button class="mini-warenkorb-button">
								<ion-icon name="cart-outline" class="mini-warenkorb"></ion-icon>
							</button>
						</a>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</section>
</div>


	<!--Icon source-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>